In [59]:
import os
import sys

from pyspark import SparkConf
from pyspark.sql import SparkSession

from pyspark.sql.types import *

import json

MY_FILM_ID = '22'

os.environ["PYSPARK_PYTHON"]='/opt/anaconda/envs/bd9/bin/python'
os.environ["SPARK_HOME"]='/usr/hdp/current/spark2-client'
os.environ["PYSPARK_SUBMIT_ARGS"]='--num-executors 3 pyspark-shell'

spark_home = os.environ.get('SPARK_HOME', None)

sys.path.insert(0, os.path.join(spark_home, 'python'))
sys.path.insert(0, os.path.join(spark_home, 'python/lib/py4j-0.10.7-src.zip'))

In [5]:
!hdfs dfs -ls /labs/laba01/ml-100k

Found 23 items
-rw-r--r--   3 hdfs hdfs       6750 2020-09-05 20:38 /labs/laba01/ml-100k/README
-rw-r--r--   3 hdfs hdfs        716 2020-09-05 20:38 /labs/laba01/ml-100k/allbut.pl
-rw-r--r--   3 hdfs hdfs        643 2020-09-05 20:38 /labs/laba01/ml-100k/mku.sh
-rw-r--r--   3 hdfs hdfs    1979173 2020-09-05 20:38 /labs/laba01/ml-100k/u.data
-rw-r--r--   3 hdfs hdfs        202 2020-09-05 20:38 /labs/laba01/ml-100k/u.genre
-rw-r--r--   3 hdfs hdfs         36 2020-09-05 20:38 /labs/laba01/ml-100k/u.info
-rw-r--r--   3 hdfs hdfs     236344 2020-09-05 20:38 /labs/laba01/ml-100k/u.item
-rw-r--r--   3 hdfs hdfs        193 2020-09-05 20:38 /labs/laba01/ml-100k/u.occupation
-rw-r--r--   3 hdfs hdfs      22628 2020-09-05 20:38 /labs/laba01/ml-100k/u.user
-rw-r--r--   3 hdfs hdfs    1586544 2020-09-05 20:38 /labs/laba01/ml-100k/u1.base
-rw-r--r--   3 hdfs hdfs     392629 2020-09-05 20:38 /labs/laba01/ml-100k/u1.test
-rw-r--r--   3 hdfs hdfs    1583948 2020-09-05 20:38 /labs/laba01/ml-100k/u2.base
-rw-r--r--   3 hdfs hdfs     395225 2020-09-05 20:38 /labs/laba01/ml-100k/u2.test
-rw-r--r--   3 hdfs hdfs    1582546 2020-09-05 20:38 /labs/laba01/ml-100k/u3.base
-rw-r--r--   3 hdfs hdfs     396627 2020-09-05 20:38 /labs/laba01/ml-100k/u3.test
-rw-r--r--   3 hdfs hdfs    1581878 2020-09-05 20:38 /labs/laba01/ml-100k/u4.base
-rw-r--r--   3 hdfs hdfs     397295 2020-09-05 20:38 /labs/laba01/ml-100k/u4.test
-rw-r--r--   3 hdfs hdfs    1581776 2020-09-05 20:38 /labs/laba01/ml-100k/u5.base
-rw-r--r--   3 hdfs hdfs     397397 2020-09-05 20:38 /labs/laba01/ml-100k/u5.test
-rw-r--r--   3 hdfs hdfs    1792501 2020-09-05 20:38 /labs/laba01/ml-100k/ua.base
-rw-r--r--   3 hdfs hdfs     186672 2020-09-05 20:38 /labs/laba01/ml-100k/ua.test
-rw-r--r--   3 hdfs hdfs    1792476 2020-09-05 20:38 /labs/laba01/ml-100k/ub.base
-rw-r--r--   3 hdfs hdfs     186697 2020-09-05 20:38 /labs/laba01/ml-100k/ub.test

In [6]:
conf = SparkConf()

spark = SparkSession.builder.config(conf=conf).appName("Lab01 Gurov").getOrCreate()

In [7]:
spark

In [18]:
items = spark.read\
          .format('csv')\
          .option('sep', '|')\
          .load('/labs/laba01/ml-100k/u.item')

In [19]:
items

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string, _c21: string, _c22: string, _c23: string]

In [20]:
items.show(5)

+---+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|_c0|              _c1|        _c2| _c3|                 _c4|_c5|_c6|_c7|_c8|_c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|
+---+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|  1| Toy Story (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  1|  1|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  2| GoldenEye (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  1|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  3|Four Rooms (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
|  4|Get Shorty (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  1|  0|  0|  0|   1|   0|   0|   1|   0|   0|   0|   0|   0|   0|   0|   0|   0|   0|
|  5|   Copycat (1995)|01-Jan-1995|null|http://us.imdb.co...|  0|  0|  0|  0|  0|   0|   1|   0|   1|   0|   0|   0|   0|   0|   0|   0|   1|   0|   0|
+---+-----------------+-----------+----+--------------------+---+---+---+---+---+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 5 rows

In [23]:
marks = spark.read\
          .format('csv')\
          .option('sep', '\t')\
          .load('/labs/laba01/ml-100k/u.data')

In [30]:
marks

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [29]:
marks.show(25)

+---+----+---+---------+
|_c0| _c1|_c2|      _c3|
+---+----+---+---------+
|196| 242|  3|881250949|
|186| 302|  3|891717742|
| 22| 377|  1|878887116|
|244|  51|  2|880606923|
|166| 346|  1|886397596|
|298| 474|  4|884182806|
|115| 265|  2|881171488|
|253| 465|  5|891628467|
|305| 451|  3|886324817|
|  6|  86|  3|883603013|
| 62| 257|  2|879372434|
|286|1014|  5|879781125|
|200| 222|  5|876042340|
|210|  40|  3|891035994|
|224|  29|  3|888104457|
|303| 785|  3|879485318|
|122| 387|  5|879270459|
|194| 274|  2|879539794|
|291|1042|  4|874834944|
|234|1184|  2|892079237|
|119| 392|  4|886176814|
|167| 486|  4|892738452|
|299| 144|  4|877881320|
|291| 118|  2|874833878|
|308|   1|  4|887736532|
+---+----+---+---------+
only showing top 25 rows

In [38]:
marks_schema = StructType(fields=[
    StructField('user_id', StringType()),
    StructField('film_id', StringType()),
    StructField('rating', StringType()),
    StructField('timestamp', StringType())
])

In [46]:
marks = spark.read.csv('/labs/laba01/ml-100k/u.data', sep="\t", schema=marks_schema).toPandas()

In [48]:
marks[marks['film_id'] == '22'].head()

     user_id film_id rating  timestamp
595      269      22      1  891448072
682        8      22      5  879362183
807       90      22      4  891384357
1192     222      22      5  878183285
1455     313      22      3  891014870

In [49]:
marks.head()

  user_id film_id rating  timestamp
0     196     242      3  881250949
1     186     302      3  891717742
2      22     377      1  878887116
3     244      51      2  880606923
4     166     346      1  886397596

In [53]:
marks.columns

Index(['user_id', 'film_id', 'rating', 'timestamp'], dtype='object')

# 1. Считаем количество различных оценок для заданного фильма

In [55]:
marks[marks['film_id'] == MY_FILM_ID].groupby(by=['rating']).count()

        user_id  film_id  timestamp
rating
1             5        5          5
2            14       14         14
3            46       46         46
4            98       98         98
5           134      134        134

In [65]:
hist_film = list(marks[marks['film_id'] == MY_FILM_ID].groupby(by=['rating']).count()['user_id'])

In [66]:
hist_film

[5, 14, 46, 98, 134]

# 2. Считаем количество различных оценок для всех фильмов

In [56]:
marks.groupby(by=['rating']).count()

        user_id  film_id  timestamp
rating
1          6110     6110       6110
2         11370    11370      11370
3         27145    27145      27145
4         34174    34174      34174
5         21201    21201      21201

In [69]:
hist_all = list(marks.groupby(by=['rating']).count()['user_id'])

In [70]:
hist_all

[6110, 11370, 27145, 34174, 21201]

# 3. Записываем результат

In [71]:
answer = {
   'hist_film': hist_film,
   'hist_all': hist_all
}

In [72]:
with open('lab01.json', 'w') as f:
    json.dump(answer, f)

In [73]:
with open('lab01.json', 'r') as f:
    print(f.read())

{"hist_film": [5, 14, 46, 98, 134], "hist_all": [6110, 11370, 27145, 34174, 21201]}